<footer class="panel--centered" role="contentinfo">
		<div class="grid">
			<div class="grid__col--4">
				<a href="https://twitter.com/Dave_Conner" title="Dave Conner - @Dave_Conner"><img class="media__img--avatar" src="https://pbs.twimg.com/profile_images/468537320581238784/BVSoNzeI.jpeg"></a>
			</div>
	    <div class="grid__col--4">
	    	<a class="site-logo--white" href="/" title="Home">
        	<b class="srt">Sass Break</b>
        </a>
	    	<p class="site-desc">{{ site.description }}</p>
	    </div>
			<div class="grid__col--4">
				<a href="https://twitter.com/guilh" title="Guil Hernandez - @guilh"><img class="media__img--avatar" src="https://pbs.twimg.com/profile_images/483977668723884034/bPshQmgj.jpeg"></a>
			</div>
	</div>
</footer>
