// ==========================================================================
// Author Descrition
// ==========================================================================

.author-box {
  @extend %panel-default;
  @extend %clearfix;
  margin-top: em(20px);
	border-top: 1px dotted palette(grey, light);
	@media (min-width: $g-breakpoint) {
	  margin-top: em(42px);
	}

  a { 
	  display: block;
	  @media (min-width: $g-breakpoint) {
 	    float: left;
  	  margin-top: em(5px);  
	  }
  }
}

.author {
	@media (min-width: $g-breakpoint) {
	  width: 72%;
	  margin-left: em(32px); 
	  float: left;
	}
	@media (min-width: $g-breakpoint + 200) {
	  width: 80%;
	}

	@include e(name) {
	  color: palette(grey, base);
	  font-size: em(24px); 
	  margin-bottom: em(6px); 
	  display: block; 
		@media (max-width: $g-breakpoint - 1) {
      text-align: center;
      margin-top: em(-14px);
      margin-bottom: em(16px);
		}

	}

	@include e(bio) {
    font-size: em(17px);
	}
}
