// ==========================================================================
// Icons
// ==========================================================================

// Logo

.site-logo {
	@include img-replace("main-logo.svg", 100px, 100px, inline-block);
	padding: 0 em(72px);
	background-position: center;
	background-color: $white;
	@include m(white) {
		@include img-replace("logo-white.png", 80px, 80px, inline-block);
		background-size: 100%;
		margin-bottom: em(8px);
	}
	@media (min-width: $g-breakpoint) { 
		padding: 0 em(98px);
	}
}
.break {
	@include p-el(before, 100%, 1px) {
		top: 63px;
		left: 0;
		z-index: -1;
		background-color: $iron;
	}
	position: relative;
}

// UI

.icn {
	
	// Nav Toggle
	@include m(nav-toggle) {
		@extend %icn--ui;
		@include p-el(before, 25px, 2px) {
			top: 5px;
			background: $white;
		}
		position: relative;
		top: 7px;
		width: 25px;
		height: 16px;
		border-top: solid 2px $white;
		border-bottom: solid 2px $white;
	}

	// Close
	@include m(close) {
		@extend %icn--ui;
		@include img-replace("icn-close.svg", 20px, 20px); 
		position: absolute;
		top: 4%;
		right: 4%;
	}
}