// ==========================================================================
// Menu
// ==========================================================================

.menu {
	margin-top: em(20px);
	@include e(link) {
		display: block;
		padding-top: em(16px);
		padding-bottom: em(16px);
		border-bottom: solid 1px rgba($white,.3);
		color: $white;
		text-align: center;
		text-shadow: 0 1px rgba($black,.3);
		font-size: em(18px);
		&:last-child {
			border-bottom: none;
		}
	}
}
